*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body{
	font-family: 'Roboto', sans-serif;
}

.mobile-header{
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.mobile-header img{
	width: 30%;

}

.mobile-header ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.mobile-header ul li a select{
	padding: 10px;
	background-color: #f3f3f3;
	border-radius: 18px;
}

.mobile-header ul li a select option{
	line-height: 12px;
}

/*end mobile-header*/

header .container{
	width: 1174px;
	margin: auto;
}

header{
	position: fixed;
	top: 0;
	transition: all .3s ease;
	left: 0;
	right: 0;
	padding: 13px 0px;
	z-index: 1;
	background-color: transparent;
}

header ul{
	display: flex;
	list-style: none;
	justify-content: center;
	align-items: center;
}

header ul li:first-child{
	margin-right: auto;
}

header ul li{
	margin: 0px 25px;
}

header ul li a img{
	width: 150px;
}

header ul li a{
	text-decoration: none;
	font-size: 16px;
	color: rgba(255, 255, 255, 0.6);
	transition: all .5s ease;
}

header ul li a:hover{
	color: #99fe00;
}

.call-number{
	border: 1px solid #99fe00;
	padding: 10px;
	border-radius: 17px;
	color: #99fe00;
}

/*end header*/

#hero .container{
	width: 100%;
	height: 100vh;
}

#hero .container .parent .content h1{
	font-size: 35px;
	margin-bottom: 15px;
    color: white;
}

#hero .container .parent .content p{
	font-size: 15px;
    border-left: 2px solid #99fe00;
    padding-left: 13px;
    color: white;
    margin-bottom: 17px;
}

#hero .container .parent .content #call-a{
	padding: 11px 15px;
	border-radius: 15px;
	background-color: #99fe00;
	border: 0;
	color: white;
	transition: all .3s ease;
}

#hero .container .parent .content #call-a:hover{
	color: #99fe00;
	background-color: white;
}

#hero .container .parent .content #video-play-a{
    background-color: transparent;
    border: 0;
    font-size: 15px;
    color: white;
    padding: 11px 15px;
}

#hero .container .parent .content #video-play-a span i{
	margin-right: 5px;
	font-size: 25px;
	color: #99fe00;
}

#hero .container .parent{
	width: 40%;
	height: 100%;
	background: #1B2F45;
	justify-content: center;
	align-items: center;
	position: absolute;
	display: flex;
}

#hero .container{
	background: url(https://s3-alpha-sig.figma.com/img/aba3/fed1/9668f9f090e808ac0d2bba801f95259b?Expires=1683504000&Signature=Bf52X~rj3u~KJ9ZbPlKOVqGV8PiTDK6ECAjwmsd6A7dU5f6b~SkI8LeqJHf05tgH3L90UieyyxfOm-A02kew0wgKhpkcwzMzvqxYGwqFBGDU2WriHBtoDB~NdkzfuxfRv28aHgXIfdgANSsTYnnnfql~3oXkLK-pycZZDV6ksyqTLFfbUjG1TiYECQtfeR2SYCsg13JYFPujksAvZedfDkTy4MpWxW1HPClPcnGSxlvFW8aZk4t8DhwdaXtshADejVe8mpvJzjnIUGKYX5wQH8iQK2pYTrwjFmXM-K~ftdZvdGyouBaYt6Qb3wfXD3lqG4p9xqGs9OJj913-jPwXMQ__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/*end hero*/

#about .container{
	width: 100%;
}

#about .center-h1{
	margin-top: 35px;
}

#about h1{
	text-align: center;
	font-size: 25px;
	margin: 25px 0px;
}

#about .green {
	color: #99fe00;
	margin: 5px 0;
	border-bottom: 3px solid #99fe00;
	width: 35px;
	margin: auto;
}

#about .container .parent{
	display: flex;
	justify-content: space-between;
	align-items: center;
    background: #F7F9FC;
    width: 1174px;
    margin: auto;
	margin-top: 20px;
}

#about .container .parent .child-photo{
	width: 550px;
	height: 550px;
	background: url(https://s3-alpha-sig.figma.com/img/7f6f/782d/eee913848f7967033b7e3249afd390a6?Expires=1683504000&Signature=iEJZtJo8uskQljef-TjiBe-2S9ip8gAetsNWSuzIPFR-FDCokKDXr2lK88DdLy34lH4PHmeZfj-bUMrAzZ1j2-r26STBDH6TjWyReT5nXh4-fcClKo-NFxNauCRBWLBGwYZVlgrrmZuf8t3hbxoAgnHETfxcOmCURByFxhrJOzPcG40KQurjawFOTyBxtzzLKY0oZACaxu71NbYEl40V7xx~hIu1ESpgDdximIw9AS7wfdST2RNlOZPxqhkFcfidLxqI1aieRsUeQu1oa1n-Ij9r~wSM7V1eWRX5JZuEHZDEW3uUBM0B3vyrVouNh7gLUYMbduNslsqeJbUQnHboJg__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#about .child-content{
	padding-right: 50px 
}

#about .child-content p{
	line-height: 1.5;
	margin-top: 15px;
	font-weight: 600;	
	font-size: 18px;
}

#about .parent-1row{
	width: 1174px;
	margin: auto;
	display: flex;
	justify-content: space-between;
}

#about .parent-1row p{
	margin-top: 10px;
}

#about span i{
	font-size: 20px;
}

#about .span{
	margin-right: 15px;
}

#about .parent-1row .child{
	display: flex;
	margin-top: 25px;
	width: calc(100%/3);
}

/*end about*/

#products{
	margin-top: 40px;
}

#products .products-h1{
	margin: 25px 0px;
}

#products .green {
	color: #99fe00;
	margin: 5px 0;
	border-bottom: 3px solid #99fe00;
	width: 35px;
	margin: auto;
}

#photo-content .container{
	margin: auto;
	margin-top: 50px;
	background-image: url(https://s3-alpha-sig.figma.com/img/aba3/fed1/9668f9f090e808ac0d2bba801f95259b?Expires=1683504000&Signature=Bf52X~rj3u~KJ9ZbPlKOVqGV8PiTDK6ECAjwmsd6A7dU5f6b~SkI8LeqJHf05tgH3L90UieyyxfOm-A02kew0wgKhpkcwzMzvqxYGwqFBGDU2WriHBtoDB~NdkzfuxfRv28aHgXIfdgANSsTYnnnfql~3oXkLK-pycZZDV6ksyqTLFfbUjG1TiYECQtfeR2SYCsg13JYFPujksAvZedfDkTy4MpWxW1HPClPcnGSxlvFW8aZk4t8DhwdaXtshADejVe8mpvJzjnIUGKYX5wQH8iQK2pYTrwjFmXM-K~ftdZvdGyouBaYt6Qb3wfXD3lqG4p9xqGs9OJj913-jPwXMQ__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#photo-content .container{
	height: 80vh;
}

#photo-content .container .parent{
	height: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
}

#photo-content .container .parent .child{
	width: 50%;
}

#photo-content .container .parent .child h2,
#photo-content .container .parent .child p{
	margin: 20px 0px;
	color: #ffffff;
}

#photo-content .container .parent .child a{
	padding: 12px 23px;
	background-color: #AFEA56;
	border-radius: 15px;
	border: 0;
	color: #ffffff;
	transition: all .3s ease;
}

#photo-content .container .parent .child a:hover{
	background-color: #ffffff;
	color: #AFEA56;
}

/*end photo-content*/

.products-h1{
	margin-top: 60px;
	text-align: center;
}

#products .container{
	width: 1174px;
	margin: auto;
	margin-top: 50px;
}

#products .container .products-parent-1row{
	width: 100%;
	display: flex;
	width: (1174px/3);
	margin: 20px 20px;
	display: flex;
	justify-content: center;
	align-items: center;
}

#products .container .products-parent-1row .child #img{
	background: url(https://s3-alpha-sig.figma.com/img/433f/e70d/ee628541d77097f96fdd07738987e036?Expires=1683504000&Signature=KZybvKvY~Rd8ZTeZsereZ2Xy-hHeLuDN2Qy5s2JbFNQK5jizdLTMIFHNUJwfrVTdM39lg~GtnNweQ4YBgy3d9QGl6HpYTLblarq8S1fqQQfDiNBjez~gE5mCtg3kaXdWaP-y1qcsItYOPDMoISCGvgWdmXv2hUiBUEPi6ONgJMQdlk6GLu3MViIoiua0mYCoHDUkw95p4XNOtjFoFYf92fUCaDEtZTjYqwB3K4E-JNspSUq-SiAbXizsqZ4rDQGZl3EowM5S5gqtgD7xPiGdJUcdGvXPGRL9LXbewPzVRn864oEjWpkB2h9emWo7PlE~OElZenX55Ek8SvD9alzLCw__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 350px;
}

#products .container .products-parent-1row .child{
	margin: 0px 15px;
}

#products .container .products-parent-1row .child p{
	margin: 10px 0px;	
}

#products .container .products-parent-1row .child a{
	background-color: transparent;
	border: 0;
	color: #99fe00;
}

#products .container .products-parent-1row .child a i{
	margin-left: 5px;
	transition: all .3s ease;
}

#products .container .products-parent-1row .child a:hover i{
	transform: translateX(7px);
}

/*end products*/

#functions .container{
	width: 1174px;
	margin: auto;
	margin-top: 80px; 
}

#functions .container .wrapper{
	display: flex;
}

#functions .container .parent-1line{
	margin-top: 30px;
	margin-right: 40px;
}


#functions .container .parent-1line p i{
	margin-right: 10px;
}


#functions .container .parent-1line p{
    line-height: 40px;
    font-size: 20px;
    color: #29486A;
    font-weight: 550;
}

#functions .container .parent-1line .p-right{
	transform: translateX(30px);
}

/*end functions*/

#connect-right-now{
	width: 100%;
	background-color: #F7F9FC;
	height: 50vh;
	margin-top: 100px;
}

#connect-right-now .container{
	width: 1174px;
	margin: auto;
	height: 100%;
	align-items: center;
}

#connect-right-now .container .parent-1row{
	align-items: center;
	display: flex;
	justify-content: space-between;
	height: 100%;
}

#connect-right-now .container .parent-1row h1{
	font-weight: 700;
	font-size: 30px;
	color: #1B2F45;
}

#connect-right-now .container .parent-1row p{
    margin: 15px 0px;
    color: #2B180D;
}

#connect-right-now .container .parent-1row a{
	padding: 12px 15px;
	border: 0;
	background-color: #AFEA56;
	text-decoration: none;
	border-radius: 20px;
	color: #ffffff;
	transition: all .3s ease;
}

#connect-right-now .container .parent-1row a:hover{
	background-color: #ffffff;
	color: #AFEA56;
	border: 1px solid #AFEA56;
}

.child  {
	width: calc(100% / 2);
}

.child img {
	width: 65%;
}

.child.child-photo {
	display: flex;
	justify-content: center;
	align-items: flex-start;
	transform: translateY(-150px);
}

/*end connect-right-now*/

#latest-blogs{
	margin-top: 100px;
}

#latest-blogs .container{
	width: 1174px;
	margin: auto;
}

#latest-blogs .container .center-h1{
    text-align: center;
    margin-bottom: 20px;
}

#latest-blogs .container .green{
	color: #99fe00;
	margin: 5px 0;
	border-bottom: 3px solid #99fe00;
	width: 70px;
	margin: auto;
}

#latest-blogs .container .parent{
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	margin-top: 30px;
}


#latest-blogs .container .parent .child img{
	width: 100%;
	height: 170px;
}

#latest-blogs .container .parent .child {
	margin: 10px;
}

#latest-blogs .container .parent .child p,
#latest-blogs .container .parent .child h3{
	margin: 15px 0px;
}

#latest-blogs .container .parent .child a{
	color: #99fe00;
}

#latest-blogs .container .parent .child a i{
	margin-left: 5px;
	transition: all .3s ease;
}

#latest-blogs .container .parent .child a:hover i{
	transform: translateX(7px);
}

/*end latest-blogs*/

#footer{
	width: 100%;
	background-color: #F7F9FC;
	margin: 50px 0px;
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

#footer .container{
	width: 1174px;
	margin: auto;
}

#footer .container .parent{
	display: flex;
}

.child-icons i{
	padding: 10px;
	background-color: #99fe00;
	color: white;
	margin: 0px 10px;
	border-radius: 20px;
}

#footer .container .parent .child{
    width: calc(1174px/3);
    margin: 20px;
}

.child-1line h1,
.child-1line p{
	margin-bottom: 20px;
}

.child-2line p span{
	font-size: 30px;
}

.child-3line h3{
	margin-bottom: 20px;
}

.margin-content{
	margin-bottom: 20px;
}

/*end footer*/

.ending-content{
	text-align: center;
	margin-bottom: 10px;
}


/* Responsive goes here */
@media (min-width: 768px) and (max-width: 1174px) {
	.container, .parent, .child, #about .parent-1row {
		width: 100%!important;
	}
	.parent, .wraping {
		justify-content: center!important;
		flex-wrap: wrap;
	}

	#connect-right-now, #photo-content .container {
		height: 100%;
	}
	.child.child-photo {
		transform: translateY(0);
	}

	header {
		display: none;
	}

	#latest-blogs .parent, #products .wraping {
		display: grid!important;
		grid-template-columns: repeat(2, 1fr)!important;
		grid-gap: 15px;
	}
	#products .container .products-parent-1row .child,
	#products .container .products-parent-1row,
	#latest-blogs .container .parent .child {
		margin: 0;
	}

	.mobile-header{
		display: flex!important;
	}
}
@media screen and (max-width: 768px) {
	.container, .parent, .child, #about .parent-1row {
		width: 100%!important;
	}
	.parent, .wraping {
		justify-content: center!important;
		flex-wrap: wrap!important;
	}

	#connect-right-now, #photo-content .container {
		height: 100%;
	}
	.child.child-photo {
		transform: translateY(0)!important;
	}

	header {
		display: none!important;
	}
	#products .container .products-parent-1row .child,
	#products .container .products-parent-1row {
		margin: 0!important;
	}

	#functions .wraping {
		justify-content: flex-start!important;
	}

	#photo-content .container .parent .child a{
		padding: 2px;
	}

    .mobile-header{
    	display: flex!important;
    }

    .mobile-header img{
    	width: 50%;
    }
}

@media screen and (min-width: 1174px){
	.mobile-header{
		display: none;
	}
}
/* Responsive ends here */